body {
    font-family: Arial, sans-serif;
    background-color: #fde9e9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    text-align: center;
    margin: 30px 0;
  }
  
  h1 {
    font-size: 40px;
    color: #f17d7d;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .medication {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .medication-name {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .medication-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .tag {
    display: inline-block;
    background-color: #f17d7d;
    color: #ffffff;
    font-size: 16px;
    padding: 5
  }
  
